<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB45jT6CrhcULsYPcWv5SZ7NxmV_0jcccw</string>
	<key>GCM_SENDER_ID</key>
	<string>445759952118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Fazaa.Khawi</string>
	<key>PROJECT_ID</key>
	<string>khawii</string>
	<key>STORAGE_BUCKET</key>
	<string>khawii.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445759952118:ios:d2ed1d68c02db4308908d7</string>
</dict>
</plist>